In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [13]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"

In [14]:
df = pd.read_csv(url, compression='gzip', nrows=100)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    int64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    int64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    int64
 18  trip_type              100 non-null    int64
 19  congestion_surcharge   0 non-null      float64
dtypes: float64(10), int64(7), object(3)
memory usage: 15.8+ KB

In [16]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [17]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
engine.connect()

In [20]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con = engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv(url, compression='gzip', iterator=True, chunksize=100000)

In [22]:
df = next(df_iter)

In [23]:
len(df)

100000

In [24]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [25]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists="replace")

0

In [26]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists="append")

CPU times: total: 3.44 s
Wall time: 8.59 s

1000

In [27]:
from time import time

In [28]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists="append")
    
    t_end = time()
    
    print('inserted another chuck..., took %.3f second' % (t_end - t_start))

inserted another chuck..., took 8.550 second
inserted another chuck..., took 9.085 second
inserted another chuck..., took 9.127 second
inserted another chuck..., took 9.337 second
inserted another chuck..., took 9.164 second
inserted another chuck..., took 3.005 second

StopIteration:

### Take the zones and upload the database

In [ ]:
df_zone = pd.read_csv("https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv")

In [7]:
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
df_zone.to_sql(name= "zones", con=engine, if_exists="replace")

265